==
<section id="one" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>About me</h2>
            </header>
            <p>Some information about me</p>
            <ul class="actions">
                <li><a href="{{'generic'|page}}" class="button">Learn More</a></li>
            </ul>
        </div>
        <span class="image"><img src="{{'assets/images/pic01.jpg'|theme}}" alt="image" /></span>
    </div>
</section>