==
<!-- Introduction -->
<section id="intro" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Introduction</h2>
            </header>
            <p>This is some intro content</p>
            <ul class="actions">
                <li><a href="generic.html" class="button">Learn More</a></li>
            </ul>
        </div>
        <span class="image"><img src="{{'assets/images/pic01.jpg'|theme}}" alt="intro" /></span>
    </div>
</section>